<!-- Componente de Opciones o Preguntas (todavia no acordamos)-->
<!-- PreCompra, Historia, Horarios, Lugar, Invitados(cantantes)-->
<div id="Text_Pregunta">
  <h5 class="fs-4" > ¿Qué información quieres?</h5> <!-- Buscar un color -->
</div>

<!-- al clickear cualquiera de las opciones te redirige a su ubicacion dentro de todas las informaciones-->
<div class="Cont-Cards-ln2">
  <div class="Cards">

    <div class="card" style="width: 18rem;" id="Card1">
      <div class="card-body">
          <h5 class="card-title">1ra Fiesta</h5>
          <p class="card-text"></p>
      </div>
    </div>

    <div class="card" style="width: 18rem;"  id="Card2">
      <div class="card-body">
        <h5 class="card-title">2da Fiesta</h5>
        <p class="card-text"></p>
      </div>
    </div>

    <div class="card" style="width: 18rem;"  id="Card3">
      <div class="card-body">
        <h5 class="card-title">3ra Fiesta</h5>
        <p class="card-text"></p>
      </div>
    </div>

  </div>
</div>

<div class="Cont-Cards-ln3">
  <div class="Cards">
    <div class="card" style="width: 18rem;" id="Card1">
      <div class="card-body">
        <h5 class="card-title">Significado de los Colores</h5>
        <p class="card-text"></p>
      </div>
    </div>

    <div class="card" style="width: 18rem;"  id="Card2">
      <div class="card-body">
        <h5 class="card-title">Fecha del evento</h5>
        <p class="card-text"></p>
      </div>
    </div>

    <div class="card" style="width: 18rem;"  id="Card3">
      <div class="card-body">
        <h5 class="card-title">title</h5>
        <p class="card-text"></p>
      </div>
    </div>

  </div>
</div>


