<div class="Cont-Cards" id="Cards">
  <div class="Cards">
    <div class="card" style="width: 18rem;" id="Card1">
      <div class="card-body">
        <h5 class="card-title">Ley Nº 14158</h5>
        <p class="card-text">Desde el pasado 8 de septiembre, nuestra provincia cuenta con una prenda tradicional que representa a los santafesinos.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;"  id="Card2">
      <div class="card-body">
        <h5 class="card-title">Renovación de Logo</h5>
        <p class="card-text">Tenemos el agrado de informarles que nuestra 3ra fiesta será provincial. </p>
      </div>
    </div>

    <div class="card" style="width: 18rem;"  id="Card3">
      <div class="card-body">
        <h5 class="card-title">PreCompra</h5>
        <p class="card-text">ATENCIÓN!!! YA PODES ADQUIRIR TU PONCHO SANTAFESINO</p>
      </div>
    </div>
  </div>
</div>
